<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>

        <div class="logo-text" @fadeInOut *ngIf="collapsed">Angular</div>
        
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" @ratate>
            <fa-icon [icon]="faClose" class="close-icon"></fa-icon>
        </button>
    </div>
    
    <!--
        RouterLinkActive para marcar a rota ativa;
        RouterLinkActiveOptions para configura como a diretiva routerlinkactive determinar se uma rota esta ativa.          
    -->

    <ul class="sidenav-nav">
        <div class="sidenav-nav-information">
            <mat-form-field appearance="fill" *ngIf="collapsed" class="sidenav-nav-item">
                <mat-label>Search</mat-label>
                <input matInput>
                <mat-icon matSuffix fontIcon="search"></mat-icon>
            </mat-form-field>
        </div>

        <li class="sidenav-nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <fa-icon [icon]="faHome" class="sidenav-link-icon"></fa-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Dashboard</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="inventory 2" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Products</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/statistics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="analytics" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Statistics</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/coupens" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="article" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Coupens</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/media" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="movie" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Media</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="web" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Pages</span>
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
                <mat-icon fontIcon="settings" class="sidenav-link-icon"></mat-icon>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Settings</span>
            </a>
        </li>

        <div class="sidenav-nav-information-bottom" *ngIf="collapsed">
            <h2>Minhas informações</h2>
            <p>Isaquesantos7</p>
        </div>
    </ul>
</div>